body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #222;
    color: white;
    margin: 0;
    padding: 0;
}
h1,h2 {    margin-top: 50px;}
button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    transition: background 0.3s;
}
button:hover {    background: #45A049;}
.oculto {    display: none;}